<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="main_logo" src="/assets/img/logo.png"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search" type="search" placeholder="Search here" aria-label="Search">
            <img class="main_profile" src="/assets/img/profile.jpg">
            <br>
            <div class="li-list">
                <ul>
                    <li>
                        <a routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="">Employees Management</a>
                    </li>
                    <li>
                        <a routerLink="/shift">Shift Management</a>
                    </li>
                    <li>
                        <a routerLink="/space">Space Management</a>
                    </li>
                    <li>
                        <a routerLink=""> Profile Management</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>

</nav>