<img class="main_profile1" src="./assets/img/profile.jpg">
<p><b class="head_br_sub">Admin</b></p>
<br>
<br>
<div class="main_list">
    <hr><i class="fa fa-dashboard"></i> <a routerLink="/dashboard"> Dashboard</a>
    <hr><i class="fa fa-users"></i><a routerLink="/employee"> Employees Management</a>
    <hr><i class="fa fa-clock-o"></i><a routerLink="/shift"> Shift Management</a>
    <hr><i class="fa fa-building"></i><a routerLink="/space"> Space Management</a>
    <hr><i class="fa fa-gear"></i> <a routerLink="/profile"> Profile Management</a>
    <hr>


</div>