<section>
    <!-- <div class="container"> -->
    <div class="row main-heading">
        <div class="col-md-3 head-section1">
            <p class="sub_br">Home / Shift Management</p>
            <b class="head_br">Shift Management</b>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2"><br> <b class="head_br1"> Shift Management</b><button class="btn btn-dark dark1"><i class="fa fa-plus"></i>  Upload </button></div>

    </div>
    <div class="row main-heading2">
        <div class="col-md-3 head-section3">
            <app-menubar></app-menubar>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Employee</th>
                        <th>Employee Code</th>
                        <th>Shift Date</th>
                        <th>Shift Time</th>
                        <th>Shift End</th>
                    </tr>
                    <tr>
                        <td>Rahul Kumar</td>
                        <td>KMB10001</td>
                        <td>23-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Anand Ghurye</td>
                        <td>KMB32001</td>
                        <td>23-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Kishan Singh</td>
                        <td>KMB86925</td>
                        <td>23-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Shekhar Kumar</td>
                        <td>KMB17205</td>
                        <td>23-11-2020</td>
                        <td>02:00 P.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Ajay Shivadasani</td>
                        <td>KMB36925</td>
                        <td>23-11-2020</td>
                        <td>02:00 P.M </td>
                        <td>10:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Roy Mehra</td>
                        <td>KMB13358</td>
                        <td>23-11-2020</td>
                        <td>02:00 P.M </td>
                        <td>10:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Sunil verma</td>
                        <td>KMB82001</td>
                        <td>23-11-2020</td>
                        <td>02:00 P.M </td>
                        <td>10:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Vijay Shukla</td>
                        <td>KMB11125</td>
                        <td>24-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Anand Mehra</td>
                        <td>KMB11125</td>
                        <td>24-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Sheetal Gaur</td>
                        <td>KMB11125</td>
                        <td>24-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Swathi Dikshit</td>
                        <td>KMB11125</td>
                        <td>24-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>
                    <tr>
                        <td>Mohan Agarwal</td>
                        <td>KMB11125</td>
                        <td>24-11-2020</td>
                        <td>09:00 A.M </td>
                        <td>05:00 P.M </td>
                    </tr>







                </table>
            </div>
        </div>

    </div>
    <!-- </div> -->
</section>