<section>
    <!-- <div class="container"> -->
    <div class="row main-heading">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->

        <div class="col-md-3 head-section1">
            <p class="sub_br">Home / Space management</p>
            <b class="head_br">Space management</b>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2"><br> <b class="head_br1"> 8 Floor Maps</b><a routerLink="/upload-map"><button class="btn btn-dark dark1"><i class="fa fa-plus"></i>  Upload Map</button></a></div>

    </div>
    <div class="row main-heading2">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->
        <div class="col-md-3 head-section3">
            <app-menubar></app-menubar>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>City</th>
                        <th>Branch</th>
                        <th>Floor Map Name</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="25%">
                            Floor 1
                        </td>
                        <td width="15%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="25%">
                            Borivali (west)
                        </td>
                        <td width="25%">
                            Floor 2
                        </td>
                        <td width="15%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="25%">
                            Floor 3
                        </td>
                        <td width="15%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="25%">
                            Floor 4
                        </td>
                        <td width="15%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="25%">
                            Floor 5
                        </td>
                        <td width="15%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="29%">
                            Floor 6
                        </td>
                        <td width="12%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="29%">
                            Floor 7
                        </td>
                        <td width="12%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            Mumbai
                        </td>
                        <td width="35%">
                            Borivali (west)
                        </td>
                        <td width="29%">
                            Floor 8
                        </td>
                        <td width="12%">
                            <select class="form-control">
                            <option value="Edit">Edit</option>
                        </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <!-- </div> -->
</section>