<section>
    <!-- <div class="container"> -->
    <div class="row main-heading">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->

        <div class="col-md-3 head-section1">
            <p class="sub_br">Home / Space management</p>
            <b class="head_br">Space management</b>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2"><br> <b class="head_br1"> Upload Map</b></div>

    </div>
    <div class="row main-heading2">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->
        <div class="col-md-3 head-section3">
            <app-menubar></app-menubar>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2 hs1">
            <b>Branch</b>
            <hr>
            <input type="text" class="form-control" placeholder="MumBai-Borivali(West)" disabled>
            <br>
            <input type="text" class="form-control" placeholder="Enter floor Name">
            <br>
            <br>
            <b>Add Floor Map</b>
            <hr>
            <label>Upload Maps</label>
            <input type="file" class="form-control">
            <br>
            <br>
            <button class="btn btn-dark">Submit</button>


        </div>

    </div>
    <!-- </div> -->
</section>