<section>
    <!-- <div class="container"> -->
    <div class="row main-heading">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->

        <div class="col-md-3 head-section1">
            <p class="sub_br">Home / Dashboard</p>
            <b class="head_br">Dashboard</b>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2"><br> <b class="head_br1"> Dashboard</b></div>

    </div>
    <div class="row main-heading2">
        <!-- <div class="col-md-4 head-section1">
            dsfdsf
        </div>
        <div class="col-md-8 head-section1">
            resfser
        </div> -->
        <div class="col-md-3 head-section3">
            <app-menubar></app-menubar>
        </div>
        <div class="col-md-9 col-md-offset-4 head-section2">

        </div>

    </div>
    <!-- </div> -->
</section>